html{
overflow-x: hidden;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
height:100%;
margin:0;
}

*{box-sizing:border-box;}

body {
background:#000000;
height:100%;
width:100%;
margin:0;
padding:0;}

::-moz-selection {
background: rgba(0,0,0,0.8);
color: #fff;
}
::selection {
background: rgba(0,0,0,0.8);
color: #fff;
}


.loader-wrapper {
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: fixed;
  background: #111314;
  justify-content: center;
  align-items: center;
    display:flex;
  z-index:5;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}




/*Nav Bar*/

nav{
  z-index:5;
}
nav ul{

}
li{
  display:table; float:left;
}
li a {
display: inline-block;
padding: 0 0;
text-align:center;
text-decoration:none;
line-height:30px;
vertical-align:middle;
font-weight:600;
}
li a:hover,li a:visited {
  color:#596469;text-decoration:none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #111314;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}
.sidenav img {
  width:30%;
}
.sidenav a {
  display: block;
  transition: 0.3s;
  padding: 0px 8px 0px 30px;
  margin-bottom:40px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-weight:normal;
}

.sidenav a:hover {
  color: #fff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-top:50px;
  margin-left: 50px;
}

.pagination{
  position:relative;
  display:block;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:35px;
}
.pagination a{
  background-color:#17141d;
  padding: 15px 30px;
  margin: 0 5px;
  border-radius:15px;
  font-family: 'Muli', sans-serif;
  font-size:18px;
  color:#fff;
}

/* Fonts */
.font-eng{font-family: 'Muli', sans-serif;}
.font-kor{font-family: 'Nanum Gothic', sans-serif; letter-spacing: 0.01rem;}

mark {background-color:#fff;}

@media screen and (min-width: 601px) {
h1 {font-size:80px; font-weight:bold; color:#353b3e;}
h2 {font-size:40px; font-weight:bold; color:#353b3e;}
h3 {font-size:40px; font-weight:700; color:#111314; line-height:40px;}
p {font-size: 15px; font-weight:600; color:#353b3e; line-height:30px;}
li a {font-size:20px;}
.logo-container{max-width:100%;text-align:center;margin-bottom:77px;}
.logo-container img{position:relative;display:block;height:88px;top:25px;margin:15px auto;}
.big-title{margin-bottom:20px;}
.sub-title{margin-bottom:0;}
.text-button{padding:20px 30px;background:#6a82fb;color:#fff;border-radius:8px;font-size:15px;font-weight:600;}
.text-button:hover, .text-button:visited{color:#fff;}
}

@media screen and (max-width: 600px) {

mark{background-color:rgba(0,0,0,0);}
h1 {font-size:35px; font-weight:bold; color:#353b3e;}
h2 {font-size:25px; font-weight:bold; color:#353b3e;}
h3 {font-size:30px; font-weight:700; color:#111314; line-height:35px;}
p {font-size: 14px; font-weight:600; color:#353b3e; line-height:30px;} 
li a {font-size:18px;}
.headerspan-weak{color:#353b3e;}
/*.logo-container {max-width:100%;text-align:center;margin-bottom:77px;}
.logo-container img{position:relative;display:block;height:88px;top:20px;margin:15px auto;}*/
.main{width:100%;}
.big-title{margin-bottom:10px;}
.sub-title{margin-bottom:80px;}
.text-button{padding:20px 25px;background:#6a82fb;color:#fff;border-radius:8px;font-size:14px;font-weight:600;}
.text-button:hover, .text-button:visited{color:#fff;}
.card h3{font-size:15px;}
.pagination a{font-size:15px;}
}

a:link {text-decoration: none;}
a:hover {text-decoration: none;}
a:visited {text-decoration: none;}

.selector-for-some-widget {box-sizing: content-box;}




.main{
margin:88px 0;
width:100%;
float:left;
word-break: keep-all!important;
overflow-wrap: keep-all!important;
}
.main img{width:100%;}

.ran-container{
	padding-left:30px;
}


footer {display:block;padding-top:20px;padding-bottom:20px;position:fixed;bottom:0;}
footer p{float:left; font-size:12.5px; color:#fff;line-height:20px;}
footer a{color:#dee0e3;}
footer a:hover, footer a:visited{color:#dee0e3;}





#myVideo {
  position:relative;
  top:0;
  left:0;
  width: auto!important;
  height: 100%!important;
  z-index:-1;
}

.list-container{
  margin-left:30px!important;
  margin-right:30px!important;
  text-align: center!important;
  margin-bottom:100px;
}

.row{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 auto;
}

.column{
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;

  padding: 0 0px;
}
.card {
  max-width: 100%;
  height:300px;
  background-color: #17141d;
  border-radius: 15px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  vertical-align:middle; 
  position:relative;
  display:flex;
  left: 0px;
  text-align:left; 
  overflow:hidden;
}
.card:hover {
  transform: translateY(-22px);
  transition: 0.4s ease-out;
}

.card-title {
  color: white;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size:20px;
  position: absolute;
  left: 20px;
  top: 15px;
  text-shadow: 0px 0px 3px rgba(17,19,20,0.8);
}
.view-button{
  color: white;
  background:rgba(0,0,0,0.3);
  padding:10px 10px;
  border-radius:15px;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size:30px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  text-shadow: 0px 0px 3px rgba(17,19,20,0.8);
}
.view-button:hover{color:white;}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}
.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}
.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}
.card:hover .filledbar {
  width: 100%;
  transition: 0.4s ease-out;
}
.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}
.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

@media screen and (max-width: 950px) {
  .logo-container img{display:none;}
  .pagination{margin-top:0px;}
  .pagination a{font-size:15px;}
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
    .card {
    height:200px;
  }
  .card-title{font-size:15px;
    left: 15px;
    top: 8px;
}
.view-button{
  left:15px;
  padding:font-size:10px;
}
.filledbar, .bar{display:none;}
}
@media screen and (max-width: 600px) {
  .pagination{margin-top:40px;}
  .pagination a{font-size:15px;}
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .card {
    height:180px;
  }
  .card-title{font-size:15px;}
}
